.partners {
  .card {
    padding: 30px 50px;
    border-radius: 35px;
    margin: 50px 0;
    h4 {
      color: $primary-color2;
      font-weight: 500;
    }
    .owl-carousel {
      margin: 20px 0;
    }
  }
}
