@media (max-width: 880px) {
  .hide-md {
    display: none !important;
  }
  section {
    padding: 50px 5px;
  }
}

@media (max-width: 1220px) {
  .hide-lap {
    display: none !important;
  }
}

.card {
  padding: 30px 50px;
  border-radius: 35px;
  margin: 50px 0;
}

* {
  max-width: 100vw;
}

html,
body {
  overflow-x: hidden !important;
}
