header {
  box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.27);
  position: fixed;
  width: 100vw;
  z-index: 999;
  background-color: #fff;
  .top-bar {
    background-color: #343e48;
    padding: 5px;
    .container {
      display: flex;
      justify-content: space-between;
      width: 100vw;
      p {
        color: #909aa7;
        margin: auto;
        font-family: $primary-font;
        font-size: 13px;
      }
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .main-head {
      padding: 20px;
    }
    .menu {
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        list-style: none;
        margin: 0;
        li {
          a {
            margin: 0 20px;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 600;
            color: $primary-color2;
            text-decoration: none;
          }
        }
      }
    }
    .action {
      display: flex;
    }
  }
}

.btn {
  &.light {
    color: $primary-color;
    border: 1px solid;
  }
  &.primary {
    background-color: $primary-color;
    color: #ffffff;
  }
  &.secondary {
    background-color: $primary-color2;
    color: #ffffff;
  }
  border: 0;
  border-radius: 25px;
  font-weight: 500;
  line-height: 15px;
  padding: 10px 20px;
  margin: 10px 8px;
  min-width: 100px;
  font-size: 16px;
  height: fit-content;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
