.engagements {
  .card {
    padding: 30px 50px;
    border-radius: 35px;
    flex-direction: row;
    margin: 20px 0;
    @media (max-width: 767px) {
      flex-direction: column;
    }
    .image-container {
      margin-right: 40px;
      max-width: 400px;
      @media (max-width: 767px) {
        display: flex;
        justify-content: center;
      }
      img {
        width: 100%;
        @media (max-width: 767px) {
          width: auto;
        }
      }
    }
    .btn {
      font-size: 12px;
      text-transform: uppercase;
    }

    &.orange {
      background-color: #fef1eb;
      h5 {
        color: $primary-color;
      }
    }
    &.green {
      background-color: #eaf6f4;
      h5 {
        color: #00afa0;
      }
      .btn {
        &.light {
          color: #00afa0;
        }
        &.primary {
          background-color: #00afa0;
        }
      }
    }
    &.pink {
      background-color: #fef1f3;
      h5 {
        color: #ed0874;
      }
      .btn {
        &.light {
          color: #ed0874;
        }
        &.primary {
          background-color: #ed0874;
        }
      }
    }
    &.blue {
      background-color: #eef5ff;
      h5 {
        color: #143980;
      }
      .btn {
        &.light {
          color: #143980;
        }
        &.primary {
          background-color: #143980;
        }
      }
    }
    &.sky {
      background-color: #f0f9fe;
      h5 {
        color: #00b7f1;
      }
      .btn {
        &.light {
          color: #00b7f1;
        }
        &.primary {
          background-color: #00b7f1;
        }
      }
    }
    &.purple {
      background-color: #f0e9f2;
      h5 {
        color: #8f3e8d;
      }
      .btn {
        &.light {
          color: #8f3e8d;
        }
        &.primary {
          background-color: #8f3e8d;
        }
      }
    }
    &.gray {
      background-color: #f2f4f5;
      h5 {
        color: #333e48;
      }
      .btn {
        &.light {
          color: #333e48;
        }
        &.primary {
          background-color: #333e48;
        }
      }
    }
  }
}
.center {
  text-align: center;
}
.section-heading {
  h2 {
    font-size: 4rem;
    font-weight: 400;
    color: $primary-color2;
    @media (max-width: 767px) {
      font-size: 2rem;
    }
    span {
      color: $primary-color;
      display: block;
    }
  }
  &.no-br {
    h2 {
      span {
        display: inline;
      }
    }
  }
  p {
    font-size: 1.5rem;
    color: gray;
    @media (max-width: 767px) {
      font-size: 1rem;
    }
  }
}

.resources {
  .card {
    min-height: 420px;
    .title {
      font-size: 1rem;
      font-weight: 200;
      text-transform: uppercase;
    }
    .image-container {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px auto;
      padding: 30px;
      border-radius: 100%;
    }
    .content-container {
      text-align: center;
      color: gray;
      h5 {
        font-weight: 500;
      }
    }

    &.sky {
      background-color: #f0f9fe;
      .image-container {
        background-color: #00b7f1;
      }
      .title {
        color: #00b7f1;
      }
      .btn {
        &.light {
          color: #00b7f1;
        }
        &.primary {
          background-color: #00b7f1;
        }
      }
    }
    &.orange {
      background-color: #fef1eb;
      .image-container {
        background-color: $primary-color;
      }
      .title {
        color: $primary-color;
      }
    }
  }
}
