@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);

$primary-font: "Open Sans";

$primary-color: #f26524;
$primary-color2: #53616e;
